body{
    margin: 20px;
    background-image: url(../img/f4-2.png);
    background-size: 1450px;
    background-repeat: no-repeat;
}
.q{
    margin: 90px;
}
.a{
    position: relative;
    bottom: 615px;
    left: 1020px;
}
.j{
    position: relative;
    bottom:375px;
    left: 520px;
}
.r{
    position: relative;
    bottom: 385px;
    left: 560px;
}
.o{
    position: relative;
    bottom: 385px;
    left: 560px;
}
.g{
    position: relative;
    bottom: 385px;
    left: 560px;
}
.p{
    text-decoration: none;
}