@charset "utf-8";

/*設定版面區塊且置中*/
#contents {
    width: 960PX;
    margin: 40px auto;
    padding: 40px 80px;
    border: 1px solid #f6bb9e;
    background-color: rgba(100, 125, 200, 0.8)
}

/*視窗背景色設定*/
body {
    background-image: url(../IMG/super.png);
    background-repeat: repeat;
    background-size: auto;
    background-position: top right;
    background-attachment: fixed;
}


/*連結顏色設定*/
a {
    color: rgb(231, 213, 219);
}


/*頁首,導覽,頁尾的共通設定*/
.menu li {
    list-style-type: none;
    display: inline-block;
    width: 120px;
    background-color: #fbf9cc;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #fff;
    border: 1px solid orange;
    margin: 0px 10px;
}

.menu a {
    display: inline-block;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(195, 155, 69);
    text-decoration: none;
}

.menu a:hover {
    background-color: #769a28;
    color: rgb(197, 23, 23);
}

/*導覽樣式設定*/


/*頁面標題設定*/
h1 {
    background-color: rgb(148, 173, 145);
    color: burlywood;
    width: bisque;
    padding: 20px;
    margin: 40px auto;
    text-align: center;
    font-size: 2.5em;
    border: #FFF double 10px;
    line-height: 1;
    border-radius: 50%;
    box-shadow: #000 20px 20px 20px;
    text-shadow: 5px 5px 5px #000;
}


/*次標題設定*/
h2 {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #94c8b1;
    border-left: 10px solid #d0e35b;
    color: #6fbb9a;
}

/*小標題設定*/
.h-sub {
    padding: 10px;
    background-color: #fbf9cc;
    color: #ff705b;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #ffd0ad inset;
}


/*內容區塊邊框設定*/


/*「更多介紹」連結設定*/


/*連結圖示設定*/


/*區塊間分隔*/


/*文繞圖設定*/
.imgL {
    float: left;
    margin-right: 20px;
}

.imgR {
    float: right;
    margin-left: 20px;
}

.clear {
    clear: both;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#profile img {
    border-radius: 50%;
}

/*寵物圖片設定*/
.photo {
    width: 300px;
    height: 200px;
}